<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Taskwrench - Login</title>
        <link rel="stylesheet" href="/css/output.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;800&display=swap" rel="stylesheet">
    </head>
<body class="bg-slate-100">
    <div class="flex justify-left items-center min-h-screen">
        <div class="ml-14 app text-left">
            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <% if (locals.messages.info) { %>
                <% messages.info.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>    
            <% } %>
            <h1 class="text-info" style="font-size: 2.5rem;">Taskwrench</h1>
            <form action="/login" method="POST" class="flex flex-col">
                <input type="email" name="email" placeholder="Email" class="input input-info w-full mb-4 border-info bg-slate-100 text-blue-950">
                <input type="password" name="password" placeholder="Password" class="input input-info w-full mb-4 border-info bg-slate-100 text-blue-950">
                <input type="submit" value="Login" class="btn btn-info text-slate-100">
            </form>
        </div>
        <div class="ml-72 mt-28">
            <img class="rounded-lg object-cover md:h-full md:w-96" src="/imgs/Taskwrench-Index.jpg" alt="Keeping track of every client!">
        </div>
        <div class="ml-28 mb-28">
            <img class="rounded-lg object-cover md:h-full md:w-96" src="/imgs/Taskwrench-Index-2.jpg" alt="Keeping track of every client!">
        </div>
    </div>
    <footer class="footer footer-center bg-info p-4 text-base-content">
        <aside class="text-blue-950">
            <p>Built by Software Engineer <a href="http://cristianroblero.netlify.app" class="text-slate-100">Cristian Roblero</a></p>
        </aside>
    </footer>
</body>
</html>